<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quieres ser tu propio jefe?</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="container">
        <nav>
            <div>
                <img src="imagenes/bizz.png">
            </div>
            <div>Home</div>
            <div>Investment</div>
            <div>Finance</div>
            <div>Support</div>
            <div>Clients</div>
        </nav>
        <div class="menu">
            <div class="menu1">
                <p>Welcome</p>
                <p>1</p>
            </div>
            <div>
                <img src="imagenes/ivan.png" alt="">
            </div>
            <div class="menu1">
                <p>Financing technology</p>
                <p>5</p>
            </div>
            <div class="menu1">
                <p>New Markerts</p>
                <p>4</p>
            </div>
            <div class="menu1">
                <p>Corporate Finance</p>
                <p>3</p>
            </div>
            <div class="menu1">
                <p>Investment</p>
                <p>2</p>
            </div>
        </div>
        <div class="courses">
            <div class="course">
                <h2>Solution</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Impedit harum fugit expedita voluptatibus laborum, 
                    sint consequuntur temporibus iste laudantium perspiciatis quam adipisci
                    , officiis numquam ipsam ducimus voluptate corrupti et exercitationem!
                </p>
            </div>
            <div class="course">
                <h2>Investment</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ex laborum sequi mollitia, sapiente explicabo in eligendi totam ipsa. 
                    Sint sed ipsum aliquid explicabo culpa repellat tempore? Debitis fugit laboriosam unde?
                </p>
            </div>
            <div class="course">
                <h2>Financing</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Ab autem sunt asperiores? Eaque ea cum minus dolorum in facere,
                    ipsam eligendi natus harum repellat aliquid? Impedit aspernatur rerum minima? Officiis?
                </p>
            </div>
            <div class="course">
                <h2>Marketing</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Vero eos voluptate cumque quod, quis obcaecati. 
                    Iusto exercitationem architecto sequi at natus sunt quas, 
                    aperiam ex, itaque, recusandae eum reprehenderit voluptates.
                </p>
            </div>
        </div>
    </div>
</body>
</html>