*{
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.container > div{
    height: 100px;
    width: 100%;
}

img{
    width: 100%;
    height: 100px;
}

#rojo{
    background-color: red;
}

#amarillo{
    background-color: yellow;
}

@media screen and (min-width:576px){
    #img, #rojo{
        width: 50%;
    }
}

@media screen and (min-width:992px){
    #imagen, #rojo, #amarillo{
        width: 33%;
    }
}